<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>admin</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>



<div class="perspective-form">
  <form method="post" class="form">
    <div class="adminka">
      <label for="title">Заголовок статьи</label>
      <% if(id !== false) {%>
      <input type="text" name="title"  value="<%= posts[id].title %>">
      <% } else {%>
      <input type="text" name="title"  >
      <% } %>
      <label for="message">Заголовок статьи</label>
      <% if(id !== false) {%>
      <textarea name="message" ><%= posts[id].message %></textarea>
      <% } else {%>
      <textarea name="message"></textarea>
      <% } %>
      <button type="submit" name="make-post" class="submit-post">Сделать пост</button>
      <div  class="control">
        <% if(id !== false) {%>
          <button name="edit" value="<%= id %>">редактировать</button>
          <select  name="edit_select" value="<%= id %>">
          <% for( var i = 0 ; i < posts.length ; i++) {%>
            <% if( i == id ) {%>
            <option selected><%= i%></option>
            <% } else {%>
            <option ><%= i%></option>
            <% } %>
          <% } %>
          </select>
          <button type="submit" name="apply">применить</button>
        <% } else {%>
          <button name="edit" value="yes">редактировать</button>
          <select  name="edit_select">
          <% for( var i = 0 ; i < posts.length ; i++) {%>
          <option><%= i%></option>
          <% } %>
          </select>
        <% } %>
      </div>
      <div  class="control">
        <button name="delete" value="yes">удалить</button>
        <select  name="delete_select">
        <% for( var i = 0 ; i < posts.length ; i++) {%>
        <option><%= i%></option>
        <% } %>
        </select>
      </div>
    </div>
    <div class="authorization">
     <label for="admin-name"></label>
     <input type="" id="admin-name" name="admin-name">
     <label></label>
     <input type="password" name="admin-password">
     <button name="authorization" type="submit">Авторизоваться</button>
    </div>
  </form>
</div>

<script src=""></script>

<script type="text/javascript">
  var admin_name = document.querySelector('.authorization input[name="admin-name"').value;
  var admin_password = document.querySelector('.authorization input[name="admin-password"]').value;

 if( <%= admin %>) {
  setTimeout(function () {
     document.querySelector('.perspective-form').classList.add('perspective-form-validate');
  } ,2000)

 }

 document.querySelector('.form').addEventListener('submit' , function () {
  var xhr = new XMLHttpRequest ();


  console.log(123);

  var body = 'name=' + encodeURIComponent(admin_name[0].value) +
  '&surname=' + encodeURIComponent(admin_password);

  xhr.open("POST", '/admin', false);


  xhr.send(body);

    if (xhr.status != 200) {
      alert(xhr.status + ': ' + xhr.statusText);
    } else {
      alert(xhr.responseText);
    }


 })


</script>

</body>
</html>
